.modal-content {
  color: rgb(129, 224, 248);
  background: rgb(37, 37, 37);
}

.modal-dialog {
  /* position: fixed; */
  margin: 10px;
  /* width: 100%; */
  height: 100%;
  padding: 0;
}

.modal-header .close {
  color: rgb(197, 29, 29);
  margin: 0;
  border: 3px solid rgb(197, 29, 29);
  border-radius: 8vh;
  display: block;
  width: 8vh;
  height: 8vh;
  position: fixed;
  right: 5%;
  opacity: 1;
}

.modal-dialog span {
  margin: 0 auto;
  padding: 1vh;
  
}

.modal-content {
  border: 1px solid rgb(129, 224, 248);
}

.modal-header {
  text-align: center;
  margin: 0 auto;
  border: 0;
}

.modal-title {
  font-size: 2rem;
}

.modal-footer {
  /* position: absolute;
  bottom: 0px; */
}

button .close {
}